{{extend 'layout.html'}}

{{block page_js}}
{{include "utils/component_builder.html"}}
<script type="text/javascript">
    $(document).ready(function(){
        build_main_view_port();
        build_grid_row("main_view_port", "test_row");
        build_grid_col("test_row", "test_col_1", 6);
        build_card("test_col_1", "test_card", true, true);
        build_grid_row("test_card_body", "test_row_2");
        build_grid_col("test_row_2", "test_col_2", 5);
        build_input("test_col_2", "Test Input", "test_input");
    });
</script>
{{end page_js}}
