<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{=URL('static', 'css/auth.css')}}" />
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div><a class="site_icon" href="{{=URL('default', 'index')}}">e<span>Printout</span></a></div>
    </div>
    <br>
    <div class="login">
        {{=form.custom.begin}}

        {{=form.custom.widget.email}}
        {{=form.custom.widget.password}}
        {{=form.custom.submit}}

        {{=form.custom.end}}
    </div>
</body>
</html>
