<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="https://github.com/chinapandaman/appZero">
    <title>Application Zero</title>
    <link rel="shortcut icon" href="https://3.bp.blogspot.com/_8IbMPwvWq5E/TTyKyemzsVI/AAAAAAAAAI4/x1zkVRIuRI4/s1600/ominamu-tux-panda-2147.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.foundation.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{{=URL('static', 'css/layout.css')}}" />
</head>

<body>
<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Application Zero</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                         src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">{{=auth.user.first_name}} <strong>{{=auth.user.last_name}}</strong></span>
                    <span class="user-role">{{=auth.user_groups[1]}}</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    {{for each in response.side_bar or []:}}
                    <li class="header-menu">
                        <span>{{=each["section"]}}</span>
                    </li>
                        {{for item in each["items"]:}}
                        <li class="sidebar-dropdown">
                            {{if item.get("has_sub_item"):}}
                            <a href="#">
                                <i class="fa {{=item['icon']}}"></i>
                                <span>{{=item["text"]}}</span>
                                {{if item.get("decoration"):}}
                                <span class="badge badge-pill badge-{{=item['decoration']['type']}}">{{=item["decoration"]["text"]}}</span>
                                {{pass}}
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                {{for sub_item in item["sub_items"]:}}
                                <li>
                                    <a href="{{=URL('default', 'index') + '?page=' + sub_item['page']}}">{{=sub_item["text"]}}
                                        {{if sub_item.get("decoration"):}}
                                        <span class="badge badge-pill badge-{{=sub_item['decoration']['type']}}">{{=sub_item['decoration']['text']}}</span>
                                        {{pass}}
                                    </a>
                                </li>
                                {{pass}}
                                </ul>
                            </div>
                            {{else:}}
                            <li>
                                <a href="{{=URL('default', 'index') + '?page=' + item['page']}}">
                                    <i class="fa {{=item['icon']}}"></i>
                                    <span>{{=item["text"]}}</span>
                                    {{if item.get("decoration"):}}
                                    <span class="badge badge-pill badge-{{=item['decoration']['type']}}">{{=item["decoration"]["text"]}}</span>
                                    {{pass}}
                                </a>
                            </li>
                            {{pass}}
                        </li>
                        {{pass}}
                    {{pass}}
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="{{=URL('developer', 'index')}}">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="{{=URL('default', 'jwt_dump')}}">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" id="page_content">
    {{include}}
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="{{=URL('static', 'js/layout.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        let flash = "{{=response.flash}}";
        if (flash){
            toastr.info(flash);
        }
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajaxSetup({
            beforeSend: function (xhr) {
                let cookies = document.cookie.split("; ");
                let jwt_token = "";

                for (let i = 0; i < cookies.length; i++) {
                    let key = cookies[i].split("=")[0];
                    if (key === "_token") {
                        jwt_token = cookies[i].split("=")[1];
                    }
                }

                xhr.setRequestHeader("Authorization", "Bearer " + jwt_token);
            },
        });
    });
</script>
{{block page_js}}{{end page_js}}
</body>

</html>
