{{extend 'layout.html'}}

<div class="container">
    <ul class="list-unstyled">
        {{for api in api_list:}}
        <li>
            <div class="card">
                <div class="card-header" data-toggle="collapse" href="#{{=api['api_name']}}_detail">
                    <h4>{{=api["api_name"]}}</h4>
                </div>
                <div id="{{=api['api_name']}}_detail" class="collapse">
                    <div class="card-body">
                        {{for method in api["supported_methods"]:}}
                        <div class="card">
                            <div class="card-header" data-toggle="collapse" href="#{{=api['api_name']}}_{{=method}}_detail">
                                <h5>
                                    <span class="badge badge-{{=badge_mapping.get(method, 'primary')}}">{{=method}}</span>
                                    {{=example_mapping.get(method, "").format(api_name=api["api_name"])}}
                                </h5>
                            </div>
                            <div class="collapse" id="{{=api['api_name']}}_{{=method}}_detail">
                                <div class="card-body">
                                    <h6>Request Specifications</h6>
                                    <hr />
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Example</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{for k, v in request_mapping[api["api_name"]][method].items():}}
                                            <tr>
                                                <td>{{=k}}</td>
                                                <td><kbd>{{=v}}</kbd></td>
                                            </tr>
                                            {{pass}}
                                        </tbody>
                                    </table>
                                    <h6>Successful Response</h6>
                                    <hr />
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Example</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>200</td>
                                                <td>
                                                    <kbd>
                                                        {{=response_mapping[api["api_name"]][method]}}
                                                    </kbd>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{pass}}
                    </div>
                </div>
            </div>
        </li>
        {{pass}}
    </ul>
</div>

{{block page_js}}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{{end page_js}}
